body{
    margin:0;
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size:35px;
}
.name-highlight{
    color: orange;
}
.half-width{
    width:40%;
    float:left;
    margin-left:5%;
    padding-left:2%;
}
.half-width img{
    width:100%;
}
.top-banner{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    padding-bottom: 150px;
}
.link-button{
    background: orange;
    color: white;
    text-decoration: none;
    background-image:linear-gradient(45deg,lightsalmon, orange,);
    padding:10px 20px;
    border-radius:  5px;
}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position:right;
}
.orange-color{
    color:orange;
}
.single-experience{
    box-shadow:10px 10px 40px gray;
    height:80%;
    border-radius:5px;
    background-color:white;
}
.experience-area{
    background-image: url('images/exp-bg.png');
    background-repeat: no-repeat;
    background-position: left;
}
#total-experience{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon,tomato);
    border-image-slice: 1;
}
#baby-web{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 16px;
}